@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

/* Estilo del cuerpo de la página */
body.cuerpo {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(120deg, #2980b9, #6DD5FA, #ffffff);
    background-size: cover; /* Asegura que el fondo cubra el área sin repetirse */
    background-attachment: fixed; /* Fija el fondo al viewport para que no se mueva con el scroll */
    background-repeat: no-repeat; /* Evita que el fondo se repita */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor principal del formulario */
.contenedor-login {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilo del formulario */
.formulario-login {
    background: linear-gradient(to bottom right, #ffffff70, #f0f8ff80), url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 450px; /* Aumenta la altura mínima del formulario */
}

/* Estilo del icono de la escuela */
.icono-escuela {
    color: #007bffa5;
    font-size: 60px; /* Agranda el icono */
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

/* Estilo del título "SIUPA" */
.titulo-siupa {
    color: #007bff;
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
}

/* Estilo del grupo de formulario */
.grupo-formulario {
    position: relative;
    margin-bottom: 30px; /* Mayor espacio entre los grupos de formulario */
}


/* Estilo del ícono dentro de los campos de formulario */
.input-group-text {
    background-color: #007bff8f;
    color: #fff;
    border: none;
    border-radius: 5px 0 0 5px;
}


/* Estilo de los campos de texto del formulario */
.form-control {
    border: 1px solid #cccccc;
    border-radius: 0 5px 5px 0;
    box-shadow: none;
    outline: none;
    padding-left: 10px;
    transition: border-color 0.3s;
}

/* Estilo de los campos de texto cuando están enfocados */
.form-control:focus {
    border-color: #000000;
    border: 0.5px solid black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

/* Estilo del botón de inicio de sesión */
.btn {
    background-color: #007bffa9;
    backdrop-filter: blur(10px);
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px; /* Baja el botón */
    width: 100%;
}

/* Estilo del botón de inicio de sesión al pasar el mouse */
.btn:hover {
    background-color: #0743ab;
}


/* Estilo del mensaje de error */
.mensaje-error {
    background-color: #f8d7da00; /* Fondo transparente */
    border: 1px solid #f5c6cb00; /* Borde transparente */
    color: #921d29; /* Texto rojo oscuro */
    border-radius: 4px;
    padding: 10px 15px; /* Padding aumentado */
    margin-top: 15px; /* Margen superior aumentado */
    max-width: 100%; /* Ancho máximo */
    position: relative; /* Necesario para la animación */
    animation: mensaje 5s forwards; /* Animación de desvanecimiento */
}


/* Estilo para cada ítem de la lista */
.mensaje-error li {
    display: flex;
    align-items: center; /* Alineación vertical del icono y el texto */
    margin-bottom: 8px; /* Espacio entre los ítems de la lista */
}

/* Estilo para el icono dentro del mensaje de error */
.icono-errores {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #721c24; /* Color del icono */
    font-size: 18px; /* Tamaño del icono */
    margin-right: 10px; /* Espacio entre icono y texto */
}

/* Animación del mensaje de error */
@keyframes mensaje {
    0% { opacity: 1; }
    100% { opacity: 0; } 
}
