/* Contenedor principal de la presentación */
.presentacion .container {
    max-width: 550px; /* Incrementado un 10% de 500px */
    margin: 0 auto;
    padding: 44px; /* Incrementado un 10% de 40px */
}

/* Estilos de la tarjeta */
.presentacion .card {
    border: 1px solid #0000007b;
    border-radius: 8.8px; /* Incrementado un 10% de 8px */
    box-shadow: 0 4.4px 8.8px rgba(0, 0, 0, 0.5); /* Incrementado un 10% de 4px y 8px */
    overflow: hidden;
    background-color: #f8f9fa7f;
    backdrop-filter: blur(3px);
}

/* Encabezado de la tarjeta */
.presentacion .card-header {
    background-color: #b5b7bacf;
    color: #000000;
    padding: 16.5px; /* Incrementado un 10% de 15px */
    font-size: 1.32rem; /* Incrementado un 10% de 1.2rem */
    font-weight: bold;
    text-align: center;
}

/* Cuerpo de la tarjeta */
.presentacion .card-body {
    padding: 22px 22px 0px 22px; /* Incrementado un 10% de 20px */
}

/* Texto de la tarjeta */
.presentacion .card-text {
    font-size: 0.99rem; /* Incrementado un 10% de 0.9rem */
    margin-bottom: 6.6px; /* Incrementado un 10% de 6px */
    color: #495057;
}

/* Estilo del botón de retorno */
.presentacion .btn-primary {
    width: 110px; /* Incrementado un 10% de 100px */
    text-align: center;
    margin: 0 auto;
    margin-bottom: 11px; /* Incrementado un 10% de 10px */
    padding: 11px; /* Incrementado un 10% de 10px */
    font-size: 0.88rem; /* Incrementado un 10% de 0.8rem */
    font-weight: bold;
    border: none;
    border-radius: 5.5px; /* Incrementado un 10% de 5px */
    background-color: #6e6e6efa;
    color: #ffffff;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.presentacion .btn-primary:hover {
    background-color: #a0a0a0fa;
    box-shadow: 0 0 13.2px #a0a0a0fa; /* Incrementado un 10% de 12px */
}

/* Estilo de los elementos de texto importante */
.presentacion .card-text strong {
    color: #343a40;
}