/* Contenedor principal de la presentación */
.presentacion .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
}


/* Estilos de la tarjeta */
.presentacion .card {
    border: 1px solid #0000007b;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    background-color: #f8f9fa7f;
    backdrop-filter: blur(3px);
}

/* Encabezado de la tarjeta */
.presentacion .card-header {
    background-color: #b5b7bacf;
    color: #000000;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

/* Cuerpo de la tarjeta */
.presentacion .card-body {
    padding: 20px 20px 0px 20px;
}

/* Texto de la tarjeta */
.presentacion .card-text {
    font-size: 0.9rem;
    margin-bottom: 6px;
    color: #495057;
}

/* Estilo del botón de retorno */
.presentacion .btn-primary {
    width: 100px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #6e6e6efa;
    color: #ffffff;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.presentacion .btn-primary:hover {
    background-color: #a0a0a0fa;
    box-shadow: 0 0 12px #a0a0a0fa;
}

/* Estilo de los elementos de texto importante */
.presentacion .card-text strong {
    color: #343a40;
}
