body {
    background-image: url('../../public/imagen/fondo.jpg');
    background-size: cover; /* Asegura que el fondo cubra el área sin repetirse */
    background-attachment: fixed; /* Fija el fondo al viewport para que no se mueva con el scroll */
    background-repeat: no-repeat; /* Evita que el fondo se repita */
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
}