body {
    background-image: url('../../public/imagen/fondo.jpg');
    background-size: cover; /* Asegura que el fondo cubra el área sin repetirse */
    background-attachment: fixed; /* Fija el fondo al viewport para que no se mueva con el scroll */
    background-repeat: no-repeat; /* Evita que el fondo se repita */
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
}
.card-header, .thead {
    background-color: #94C1D9; /* Verde azulado más claro */
    font-size: 18px; /* Ajuste del tamaño de la cabecera */
    color: #000000; /* Texto oscuro en la cabecera */
}
.card-body {
    background-color: #BBE4F0; /* Verde azulado pastel */
}
table {
    margin-bottom: 0; /* Eliminar el margen inferior de la tabla */
    border-collapse: collapse; /* Colapsar los bordes de la tabla */
    width: 100%; /* Ancho completo */
}
.table th, .table td {
    border: 1px solid #000000; /* Bordes negros */
    padding: 8px; /* Añadir espacio interno */
    color: #05161A; /* Color del texto en las celdas */
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #8adfd8; /* Alternar filas con verde azulado más claro */
    color: #05161A; /* Texto oscuro en filas impares */
}
.table-striped tbody tr:nth-of-type(even) {
    background-color: #BBE4F0; /* Alternar filas con otro verde azulado claro */
    color: #05161A; /* Texto oscuro en filas pares */
}
.btn-add {
    background-color: #5DA7C2; /* Botón agregar en verde azulado suave */
    border-color: #5DA7C2;
    color: white;
}
.btn-add:hover {
    background-color: #468BA8; /* Hover en verde azulado más oscuro */
    border-color: #468BA8;
}
.btn-edit {
    background-color: #5DA7C2; /* Botón modificar en verde azulado suave */
    border-color: #5DA7C2;
    color: white;
}
.btn-edit:hover {
    background-color: #468BA8; /* Hover en verde azulado más oscuro */
    border-color: #468BA8;
}
.btn-delete {
    background-color: #5DA7C2; /* Botón eliminar en verde azulado suave */
    border-color: #5DA7C2;
    color: white;
}
.btn-delete:hover {
    background-color: #468BA8; /* Hover en verde azulado más oscuro */
    border-color: #468BA8;
}
.table-hover tbody tr:hover {
    background-color: #94C1D9; /* Hover filas en verde azulado más claro */
}
th, td {
    text-align: center; /* Centrando el texto en las celdas */
    vertical-align: middle; /* Alineando verticalmente */
}

#success-message {
    position: fixed;
    background: #BBE4F0; /* Verde azulado pastel */
    color: #05161A; /* Color del texto */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    max-width: 80%;
    text-align: center;
    padding: 10px; /* Añadir espacio interno */
    border-radius: 5px; /* Redondear los bordes */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}






.pagination {
    justify-content: center;
    margin-top: 20px; /* Espacio arriba de la paginación */
}

.pagination .page-item .page-link {
    color: #05161A; /* Color del texto de los números de página */
    background-color: #94C1D9; /* Fondo de los números de página */
    border-color: #94C1D9; /* Color del borde de los números de página */
}

.pagination .page-item .page-link:hover {
    color: #ffffff; /* Texto blanco al pasar el mouse */
    background-color: #5DA7C2; /* Fondo más oscuro al pasar el mouse */
    border-color: #5DA7C2; /* Borde más oscuro al pasar el mouse */
}

.pagination .page-item.active .page-link {
    z-index: 1;
    color: #ffffff; /* Texto blanco en página activa */
    background-color: #7ee2e9; /* Fondo más oscuro en página activa */
    border-color: #5DA7C2; /* Borde más oscuro en página activa */
}

.pagination .page-link:focus {
    box-shadow: none; /* Quitar sombra al enfocar */
}
