/**************** CUERPO DE SIDEBAR *************/

/* Estilos para la barra lateral */
.sidebar {
    position: fixed;                                        /* Mantiene el sidebar fijo en la ventana */
    top: 0;                                                 /* Mantiene el sidebar en la parte superior de la ventana */
    left: 0;                                                /* Alinea el sidebar al borde izquierdo de la ventana */
    height: 100vh;                                          /* Altura completa de la ventana */
    width: 200px;                                           /* Ajusta el ancho según tus necesidades */
    min-height: 400px;
    background: rgba(228, 228, 228, 0.5);
    backdrop-filter: blur(10px);
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.281);
    overflow-y: auto;                                       /* Permite el desplazamiento interno del contenido si es necesario */
    z-index: 1;                                          /* Asegura que el sidebar esté por encima de otros contenidos */
    border-radius: 0 10px 10px 0;
    overflow: hidden;
}


.sidebar body {
    margin: 0;
    padding: 0;
}

/* Estilos para la tarjeta de usuario */
.sidebar .card {
    background: rgba(175, 38, 38, 0);
    border: none;
    border-radius: 0;
    border-bottom: 1.5px solid #838282;
    color: #000000;
    font-size: 12px;
}

/* Contenedor del icono de usuario */
.sidebar .user-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;                                            /* Ajusta el tamaño del círculo */
    height: 50px;                                           /* Ajusta el tamaño del círculo */
    margin-left: -10px;
    background-color: #ffffff00;                          /* Fondo del círculo */
    color: #000;                                          /* Color del ícono */
    font-size: 24px;                                        /* Tamaño del ícono */
    margin-right: 2px;                                      /* Espacio entre el icono y el nombre del usuario */

}

/* Contenedor de la información del usuario (nombre y categoría) */
.sidebar .user-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;                            /* Alinea ambos elementos al inicio */
    height: 100%;
}

/* Nombre del usuario */
.sidebar .user-name {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: -5px;                                    /* Reduce el margen entre el nombre y la categoría */
    text-align: left;
}

/* Categoría del usuario */
.sidebar .user-extra {
    font-size: 12px;
    color: #777;                                          /* Color del rol */
    margin-top: -4px;                                       /* Ajuste para acercar la categoría al nombre */
}

/* Alineación del contenido dentro de la tarjeta */
.sidebar .card .d-flex {
    align-items: flex-start;                                /* Alinea el contenido al principio verticalmente */
}

/* Espaciado adicional entre el icono y el texto */
.sidebar .card .d-flex div:last-child {
    margin-top: 4px;                                        /* Ajusta el margen superior del texto para separarlo del icono */
}

/**************** LISTA DE ENLACES *************/

/* Estilos para los enlaces del sidebar */
.sidebar .nav-link {
    display: flex;                                          /* Usa Flexbox para alinear íconos y texto */
    align-items: center;                                    /* Alinea el ícono y el texto verticalmente */
    width: 100%;                                            /* Ocupa todo el ancho disponible */
    padding: 10px 15px;                                     /* Espacio interno */
    border-radius: 5px;                                     /* Redondea los bordes */
    transition: all 0.3s ease;                              /* Transición suave */
    color: #000;                                          /* Color de texto */
    text-decoration: none;                                  /* Quita el subrayado */
    background: rgba(255, 255, 255, 0);                   /* Fondo inicial con opacidad */
}

/* Estilos al pasar el mouse sobre los enlaces del sidebar */
.sidebar .nav-link:hover {
    border-radius: 5px;                                     /* Redondea los bordes en el hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);           /* Sombra del hover */
    background: rgba(255, 255, 255, 0.7);                 /* Fondo más visible en el hover */
    color: #ff0000;                                       /* Color del texto en hover */
}

/* Espacio entre el icono y el texto */
.sidebar .nav-link .icon{
    margin-right: 10px;                                     /* Ajusta el margen entre el ícono y el texto */
    width: 20px;
}

/* Estilos para el texto dentro del enlace */
.sidebar .nav-link .nav-text {
    margin: 0;                                              /* Elimina el margen por defecto del <p> */
    font-size: 14px;                                        /* Ajusta el tamaño del texto si es necesario */
}

/**************** BOTON DE CIERRE SESION *************/

.sidebar .btn-danger {
    width: 100%;
    padding: 10px 15px;                                     /* Espaciado interno */
    border-radius: 5px;                                     /* Bordes redondeados */
    color: #fff;                                          /* Color del texto */
    background-color: #00000000;                          /* Color de fondo */
    border: none;                                           /* Sin borde */
    display: flex;                                          /* Alinea el icono y el texto */
    align-items: center;                                    /* Centra el contenido verticalmente */
    justify-content: center;                                /* Centra el contenido horizontalmente */
    font-size: 12px;
    .cerrar-icon{
        display: none;
    }
    .logout-icon{
        display: block;
    }
}

/* Cambia el color de fondo en hover */
.sidebar .btn-danger:hover {
    background-color: #d01629a2;                          /* Un rojo más oscuro para el hover */
    box-shadow: 0 0 10px #d01629a2; 
    .cerrar-icon{
        display: block;
    }
    .logout-icon{
        display: none;

    }
}

/* Estilo del icono en el botón */
.sidebar .btn-danger .logout-icon,
.sidebar .btn-danger .cerrar-icon{
    margin-right: 8px;                                      /* Espacio entre el icono y el texto */
    font-size: 16px;                                        /* Tamaño del icono */
}


/***************************************************************************************************/

@media (max-width: 768px) {

    .sidebar {
        width: 50px;  
        background: rgb(203, 203, 203);                   /* Ajusta el ancho colapsado según tus necesidades */
    }

    /* Ocultar el texto y mostrar solo los íconos en el estado colapsado */
    .sidebar .btn-text,
    .sidebar .user-info,
    .sidebar .user-name,
    .sidebar .user-extra,
    .sidebar .nav-text {
        display: none;
    }

    /* Estilos para los botones y elementos de la lista cuando el sidebar está colapsado */
    .sidebar .btn-danger,
    .sidebar .nav-item,
    .sidebar .nav-link {
        width: 40px;                                        /* Ancho fijo para los botones y elementos */
        height: 40px;                                       /* Ajusta la altura para asegurar que los íconos estén centrados verticalmente */
        margin-left: -7px;                                  /* Ajuste del margen izquierdo si es necesario */
        display: flex;                                      /* Usa flexbox para alinear el contenido del botón */
        align-items: center;                                /* Centra los íconos verticalmente */
        justify-content: center;                            /* Centra los íconos horizontalmente */
        padding: 0;                                         /* Elimina el padding para evitar desalineaciones */
    }

    /* Estilo específico para los íconos dentro del botón */
    .sidebar .btn-danger .cerrar-icon,
    .sidebar .btn-danger .logout-icon,
    .sidebar .nav-item .icon {
        display: flex;                                      /* Usa flexbox para alinear los íconos */
        align-items: center;                                /* Centra verticalmente */
        justify-content: center;                            /* Centra horizontalmente */
        margin: 0;                                          /* Elimina el margen para evitar desalineaciones */
        padding: 0;                                         /* Elimina el padding para evitar desalineaciones */
    }

    
    .sidebar .btn-danger {
        .cerrar-icon{
            display: none;
        }
        .logout-icon{
            display: block;
        }
    }

    .sidebar .btn-danger:hover {
        .cerrar-icon{
            display: block;
        }
        .logout-icon{
            display: none;
    
        }
    }

}