/* ==================== CUERPO DE SIDEBAR ==================== */
@media (min-width: 769px) {

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 200px;
        min-height: 400px;
        background: rgba(228, 228, 228, 0.5);
        backdrop-filter: blur(10px);
        padding: 15px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.281);
        overflow-y: auto;
        z-index: 1;
        overflow: hidden;
    }

    .sidebar body {
        margin: 0;
        padding: 0;
    }

    .sidebar .card {
        background: rgba(175, 38, 38, 0);
        border: none;
        border-radius: 0;
        border-bottom: 1.5px solid #838282;
        color: #000000;
        font-size: 12px;
    }

    .sidebar .user-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin-left: -10px;
        background-color: #ffffff00;
        color: #000;
        font-size: 24px;
        margin-right: 2px;
    }

    .sidebar .user-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    }

    .sidebar .user-name {
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: -5px;
        text-align: left;
    }

    .sidebar .user-extra {
        font-size: 12px;
        color: #777;
        margin-top: -4px;
    }

    .sidebar .card .d-flex {
        align-items: flex-start;
    }

    .sidebar .card .d-flex div:last-child {
        margin-top: 4px;
    }

    /* ==================== LISTA DE ENLACES ==================== */
    .sidebar .nav-link {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px 15px;
        border-radius: 5px;
        transition: all 0.3s ease;
        color: #000;
        text-decoration: none;
        background: rgba(255, 255, 255, 0);
    }

    .sidebar .nav-link:hover {
        border-radius: 5px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
        background: rgba(255, 255, 255, 0.7);
        color: #ff0000;
    }

    .sidebar .nav-link .icon {
        margin-right: 10px;
        width: 20px;
    }

    .sidebar .nav-link .nav-text {
        margin: 0;
        font-size: 14px;
    }

    /* ==================== BOTON DE CIERRE SESION ==================== */
    .sidebar .btn-danger {
        width: 100%;
        padding: 10px 15px;
        border-radius: 5px;
        background-color: #00000000;
        color: #000000;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        transition: background-color 0.5s ease, transform 0.3s ease;
    }

    .sidebar .btn-danger .logout-icon,
    .sidebar .btn-danger .cerrar-icon {
        margin-right: 8px;
        font-size: 16px;
    }

    .sidebar .btn-danger .cerrar-icon {
        display: none;
    }

    .sidebar .btn-danger .logout-icon {
        display: block;
    }

    .sidebar .btn-danger:hover {
        background-color: #d01629a2;
        box-shadow: 0 0 10px #d01629a2;
    }

    .sidebar .btn-danger:hover .cerrar-icon {
        display: block;
    }

    .sidebar .btn-danger:hover .logout-icon {
        display: none;
    }

    .sidebar .nav-item {
        width: 100%;
    }
}

/* ==================== ESTILOS PARA EL MÓVIL ==================== */
@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: rgba(228, 228, 228, 0.5);
        backdrop-filter: blur(10px);
        padding: 10px 0;
        box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.281);
        z-index: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top: 1px solid #ccc;
    }

    .sidebar .nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .sidebar .nav-item {
        flex: 0 0 auto;
        text-align: center;
    }

    .sidebar .nav-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 62px;
        height: 60px;
        margin: 0 5px;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0);
        color: #000;
        transition: all 0.3s ease;
    }

    .sidebar .nav-link:hover {
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    .sidebar .nav-link:hover .nav-text {
        color: #ff0000;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    }

    .sidebar .icon {
        position: relative;
        top: 10px;
        font-size: 24px;
        color: #000;
    }

    .sidebar .nav-text {
        position: relative;
        top: 15px;
        font-size: 12px;
        color: #000;
    }

    .sidebar .user-section,
    .sidebar .mt-auto {
        display: none;
    }
}